<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{bill.title}}</title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{bill.title}}">
    <meta name="twitter:description" content="{{bill.text}}">

</head>
<body>

    <h1>{{bill.author}} did {{bill.title}}</h1>

</body>
</html>