<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{bill.title}}</title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{bill.title}} by {{bill.author}}">
    <meta name="twitter:description" content="{{bill.text}}">
    <meta name="twitter:image" content="http://www.senate.state.tx.us/members/d01/img/hughes-initial.jpg">


</head>
<body>

    <h1>{{bill.author}} did {{bill.title}}</h1>

</body>
</html>