<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{bill.title}}</title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{bill.bill.bill_number}} by {{author.name}}({{author.party}})">
    <meta name="twitter:description" content="{{bill.bill.description}}">
    <!-- <meta name="twitter:image" content="http://www.senate.state.tx.us/members/d01/img/hughes-initial.jpg"> -->


</head>
<body>

    <h1>{{bill.bill.bill_number}}</h1>
    <h2>Author: {{author.name}}({{author.party}}) with {{bill.bill.sponsors.length}} Sponsors</h2>
    <p>{{bill.bill.description}}

</body>
</html>